<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<array>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>image</key>
			<string>twitter.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>youtube.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>linkedin</string>
			<key>image</key>
			<string>linkedin.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>rss</string>
			<key>image</key>
			<string>rss.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>google</string>
			<key>image</key>
			<string>google.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>stumbleupon</string>
			<key>image</key>
			<string>su.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>digg</string>
			<key>image</key>
			<string>digg.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>technorati</string>
			<key>image</key>
			<string>technorati.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>youtube.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>linkedin.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>image</key>
			<string>twitter.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>youtube.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>linkedin</string>
			<key>image</key>
			<string>linkedin.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>rss</string>
			<key>image</key>
			<string>rss.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>google</string>
			<key>image</key>
			<string>google.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>stumbleupon</string>
			<key>image</key>
			<string>su.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>digg</string>
			<key>image</key>
			<string>digg.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>technorati</string>
			<key>image</key>
			<string>technorati.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>youtube.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>linkedin.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>image</key>
			<string>twitter.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>youtube.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>linkedin</string>
			<key>image</key>
			<string>linkedin.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>rss</string>
			<key>image</key>
			<string>rss.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>google</string>
			<key>image</key>
			<string>google.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>stumbleupon</string>
			<key>image</key>
			<string>su.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>digg</string>
			<key>image</key>
			<string>digg.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>technorati</string>
			<key>image</key>
			<string>technorati.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>image</key>
			<string>facebook.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>youtube.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>youtube</string>
			<key>image</key>
			<string>linkedin.png</string>
			<key>vc</key>
			<string>ChildViewController</string>
			<key>removable</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
